#listeMesAnnonces {
	font-style : italic;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	border-color: black;
	_display:flex;
	flex-direction: row;
	padding: 5px 5px 5px 5px;
}

#Annonces-elements {
	display: inline-block;
    border: 3px solid black;
    margin: 5px;
    padding: 10px;
    background-color:white;
}

#Annonces-titre {
	display: inline-block;
    text-align : center;
    margin: 5px;
    padding: 20px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    width: ...; /* largeur obligatoire pour être centré */
}
#btnAnnulerAnnonce{
padding-top: 1px;
  padding-left: 10px;
   max-width: 970px;
   height: 30px;
    float:right;
    height: 40px;
   width : 100px;
    
}
#btnValiderEnvie{
padding-top: 1px;
  padding-left: 10px;
   max-width: 970px;
   height: 40px;
   width : 100px;
    float:right;
    
}

#dateMesAnnonces {
 padding-left :120px;
font-style : italic;

	
}