body {
	background:url('./bg4.jpg');
    background-attachment: fixed;
}

#fondNav {
     width: 1811;
    background-color: white!important;
    height: 160;
    position: absolute;
    top: -182px;
    left: -800;
}

.navbar{
	height : 58px;
}
.navbar-brand2 {
	margin-left: 100px;
}

a .navbar-brand {
	font-size: 10px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #245B55;
}

.navbar-toggler {
      padding: 2.25rem -0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.test {
	position:absolute;
	width: 50px;
    height: 77px;
    background-color: #245B55;
/*     position: fixed; */
    top: 0;
    right: 0;
}

a {
	font-family: 'Abel', sans-serif;
}

.bg-light {
	height: 90px;
	color: black;
    position:fixed;
}

.lblInfosOeufs{
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 20;
    left: 113;
    margin-top: 510;
}

.container-dashboard {
display : flex;
justify-content: center;
}

.lblUser {
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 20;
    /* left: 555px; */
    top: -170;
    text-transform: uppercase;
}

.lblStatsUser {
display : flex;
justify-content: center;
top: 120;
}

.donTotal {
    top: -129px;
    position: absolute;
    font-family: 'Abel', sans-serif;
    text-transform: initial;
    font-size: 15;
}

.dernierDon {
top: -98px;
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 15;
    text-transform: initial;
}

.produitPeremption {
	top: -60;
    position: absolute;
    font-family: 'Abel', sans-serif;
    color: red;
    font-size: 15;
    text-transform : initial;
}

.lblStatsDon {
	top: 120;
	left:150;
	font-size: 20;
	color: black;
	position : absolute;
	font-family : 'Abel', sans-serif;
}

.lblStatsDernierDon {
	top: 163;
	left:150;
	font-size: 20;
	color: black;
	position : absolute;
	font-family : 'Abel', sans-serif;
}

.lblInfosYaourt{
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 20;
    left: 865;
     margin-top: 510;
}

.lblInfosPainDeMie{
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 20;
    left: 115;
    margin-top: 830;
}


.lbltitre {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 50;
/* 	left: 555px; */
 	top: 260	;
    text-transform: uppercase;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
    position:fixed;
}

.navbar-light .navbar-fontColor {
	color: white!important;
    font-size: 37px!important;
    text-transform: uppercase;
    height: 96;
    width: 379px;
    padding-top: 27px!important;
    margin-left: -16px;
    padding-left: 35px;
    background-color: #245B55!important;
    display: flex;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;
    font-size: 26px!important;
    background-color: #245B55!important;
    padding-left: 0.5rem!important;
    text-transform: uppercase!important;
    padding-top: 38px;
    width: 377px;
    height: 96px;
    margin-right: -2px!important;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    margin-left: 85;
    margin-top: 0;
    padding-top: 10;
    background-color: #245B55;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 22.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 20px;
}


.navbar-nav .nav-link {
    padding-right: 45!important;
}

a.dropdown-item {
    color: white!important;
    background-color: #245B55!important;
}

a.dropdown-item:hover {
    text-decoration: underline;
}

.btnDeconnexion {
	    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #245B55;
    position: fixed;
    bottom: 5;
    right: 5;
    border-radius: 100px;
}

.deconnexion {
	    margin-top: 8;
	    margin-right : 4;
}

/*<!--==============================SEARCH BAR=====================-->*/
input[type=text] {
width: 180;
    margin: 100px 100 -160px 113px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 548;
}
/*<!--==============================ANIMATION HOVER=====================-->*/
.mr-auto, .mx-auto {
    margin-right: auto!important;
    width: 100%;
    text-align: center;
    }


.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
/*<!--==============================FLEX CONTAINER=====================-->*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100;
}

.container {
display : flex;
justify-content: center;
}

.flex-container > .imgContainer {

  text-align: center;
      -webkit-transition: .4s ease-in-out opacity!important;
    -moz-transition: .4s ease-in-out opacity!important;
    -o-transition: .4s ease-in-out opacity!important;
    transition: .4s ease-in-out opacity!important;
}
.flex-container > div .imgYaourt {

  text-align: center;
  -webkit-transition: .4s ease-in-out opacity;
  -moz-transition: .4s ease-in-out opacity;
  -o-transition: .4s ease-in-out opacity;
  transition: .4s ease-in-out opacity;
  background-attachment: fixed;
}

.flex-container > div .imgPainDeMie {

  text-align: center;
  -webkit-transition: .4s ease-in-out opacity;
  -moz-transition: .4s ease-in-out opacity;
  -o-transition: .4s ease-in-out opacity;
  transition: .4s ease-in-out opacity;
  background-attachment: fixed;
}


.containerLblYaourt {
    position : absolute;
    font-size: 30;
    text-transform: uppercase;
    margin : -119 0 0 165;
    font-family: 'Abel', sans-serif;
    display:none;
    text-decoration: none;
}

.separateur {
    width:200;
}

div > .imgContainerYaourt {
    position:relative;
    top: 300;
    left: 110;
    margin-bottom: 50; 
    width: auto;
    height: 211px;

}

div > .imgContainer {
    position:relative;
    top: 300;
    left: 110;
    margin-bottom: 50; 
    width: auto;
    height: 211px;

}

.containerLblOeuf {
    position : absolute;
    font-size: 30;
    text-transform: uppercase;
    margin : -119 0 0 150;
    font-family: 'Abel', sans-serif;
    display:none;
    text-decoration: none;
}

.imgPainDeMie {
	position : relative;
	top: 360;
	left: 110px;
	margin-bottom: 50;
	width : auto;
	height: 211px;
}

.containerLblPainDeMie {
    position : absolute;
    font-size: 30;
    text-transform: uppercase;
    margin : 185 0 0 250;
    font-family: 'Abel', sans-serif;
    display:none;
    text-decoration: none;
}

.imgContainer:hover {
    opacity: 0.8;
}

.imgYaourt:hover {
    opacity : 0.8;
}

.imgPainDeMie:hover {
    opacity : 0.8;
}


.imgContainer:hover .containerLblOeuf {
    display:block;
    color: black;
}

.imgContainerYaourt:hover .containerLblYaourt {
    display:block;
    color: black;
}

.imgContainerPainDeMie:hover .containerLblPainDeMie {
    display:block;
    color: black;
}
/*==============================PAGE ANNONCES=====================*/

#page-annonces {
	background-color : blue;
	width : 1000px;
	height : 200px;
	top : 260px;
	position:absolute;
/* 	left : 200px; */
	display : flex;
	justify-content: center;

}
