.lblTitre {
    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 50;
    top: 131px;
    text-transform: uppercase;
    width: 100%;
  	display: inline-block;
    text-align: center;
}

#gestionStock {
	width: 100%;
  	display: inline-block;
    text-align: center;
    margin-top: 130px;
}
#btnEnregistrer{
    position: fixed;
    top: 200;
    left: 1250;
    z-index: 1030;
    
    background-color: green;
    border: 1px solid white;
    margin: 15px;
    font-size: 27px;
    color: white;
    width: 180px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;

}

#btnAnnuler{
	position: fixed;
    top: 350; 
    left: 1250;
    z-index: 1030;
    
    background-color: red;
    border: 1px solid white;
    margin: 15px;
    font-size: 27px;
    color: white;
    width: 180px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}
.btnAction {
    background-color: #49b6a8;
    border: 1px solid white;
    margin: 15px;
    font-size: 30px;
    color: white;
    width: 130px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

table {
    margin: 0px auto;
    table-layout: fixed;
    width: 800px; 
    text-align: center;         
}​

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
    background-color: black;
    opacity: 0.7;
}

th #qteColumn, tr #qteColumn {
	width: 50px;
}

th #etatColumn, tr #etatColumn {
	width: 175px;
}

th #dlcColumn, tr #dlcColumn {
	width: 100px;
}

.table {
    margin: 0px auto;
    table-layout: fixed;
    width: 860px; 
    text-align: center;
    background-color: #49b6a8;
    border-radius: 5px;      
}​

.infosStock div:nth-child(even) {
	background-color: #f2f2f2;
}

.ligne {
	height: 50px;
	text-align: center;
	display: flex;
}

.header {
	display: inline-block;
    background-color: #4CAF50;
    color: white;
    background-color: black;
    opacity: 0.7;
    
}

.ligne div {
	display: inline-block;
	margin: auto;
	font-size: 20px;
}

.case1, .ligne #qteColumn {
	width: 50px;
}

.case2, .ligne #produitColumn {
	width: 450px;
}
.case3, .ligne #dlcColumn {
	width: 100px;
}

.case4, .ligne #etatColumn {
	width: 240px;
}

#enStockNumber {
	width: 50px;
}

.sliderTable:hover {
    opacity: 1;
}

.sliderTable::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #49b6a8;
    cursor: pointer;
}

.sliderTable::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #49b6a8;
    cursor: pointer;
    border: 2px solid black;
}

/*---------------------------------------------------------------*/
/*                         MODAL AJOUTER                         */
/*---------------------------------------------------------------*/
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, 0.4); 
	padding-top: 15px;
}

.modalContent {
	width: 550px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 15px;
	background-color: #fff;
	margin: 13% auto;
	font-family: 'Abel', sans-serif !important;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 900px;
}

#headerAjouter {
	border-radius: 15px 15px 0px 0px;
	padding: 15px;
}

#headerAjouter {
	width: 100%;
	text-align: center;
	background-color: #49b6a8;
}

#headerAjouter, .champAjouter {
	width: 100%;
  	display: inline-block;
}

/* The Close Button */

.Xclose{
	position: absolute;
	left: 1000px;
}

.Xclose:hover,
.Xclose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#titreAjouter {
	vertical-align: center;
}

.champAjouter * {
	vertical-align: top;
}
	
.champAjouter label {
	margin-right: 20px;
	
}

#infoAjout {
	padding: 20px;
}

#btnAjouter {
	background-color: #49b6a8;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    display: block;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #49b6a8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 30px;
    background: #49b6a8;
    cursor: pointer;
    border: 2px solid black;
}

/*---------------------------------------------------------------*/
/*                         MODAL DETAILS                         */
/*---------------------------------------------------------------*/

#detailStock {
	position: fixed;
    top: 180px; 
    left: 30px;
    z-index: 1030;
    
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid white;
    width: 260px;
    height: 380px;
    text-align: center;
}

#imageDetail {
	border-radius: 15px 15px 0px 0px;
	opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 260px;
    text-align: center;
    display: block;
}

#divDetail {
	border-radius: 0px 0px 15px 15px;
	background-color: #245B55;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: white;
    height: 204px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    display: block;
}

#btnAnnonce{
    background-color: #49b6a8;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: auto;
	margin-right: auto;
    font-size: 15px;
    color: white;
    width: 100px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

/*---------------------------------------------------------------*/
/*                   Page PUBLIER UNE ANNONCE                    */
/*---------------------------------------------------------------*/


#publicationForm{
    border-radius: 5px;
	background-color: #49b6a8;
    padding: 20px;
    margin-top: 130px;
    margin-left: auto;
	margin-right: auto;
	width: 900px;
	font-size: 17px;
	border: 1px solid #245B55;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.labelPublication {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
    margin-left: 35px;
}

.inputPublication{
	width: 100%;
    padding: 12px;
    resize: vertical;
}

.datePublication{
	width: 62%;
    padding: 12px;
    resize: vertical;
}

.heurePublication{
	width: 36%;
    padding: 12px;
    resize: vertical;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#btnPublier{
    background-color: #49b6a8;
    border: 1px solid #245B55;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 15px;
    color: black;
    width: 85px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

#btnAnnulerPubli{
    background-color: #49b6a8;
    border: 1px solid #245B55;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    font-size: 15px;
    color: black;
    width: 85px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}