#annoncesAvecReponses {
	_border-style: solid;
	border-width: 2px;
	_border-color: black;
	display:flex;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	position:absolute;
    left: 50%;
    top: 30%;
    width: 1000px;
    _height: 200px;
    margin-left: -500px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px;
    font-family: 'Abel', sans-serif;

}

#titre {
	text-align: center;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
}

#filtrerReponses {
	text-align: left;
	margin : 10px 10px 10px 10px;
}


table tr:hover{cursor:pointer;}

#reponsesRecues {
	visibility:hidden;
}

#modal-body-rep {
	 float:left; 
	 height:325px;                /* taille du bloc moins la marge interne => IE */
	 width:509px;                 /* taille du bloc moins l'épaisseur de la bordure => IE*/
	 border-left:5px solid #14265E;
	 padding:5px 10px 10px 10px;  /* padding haut, droit, bas, gauche*/ 
	 font-size:0.9em;
	 overflow:auto;
 },

img {
	height : 60px;
	float: inline-start;
	margin-right : 15px;
}
 
 #userRep {
 	height: 60px;
 	float: inline-start;
 	margin-right : 15px;
 }
 
 
.btnRdv {
	float: right;
	margin-bottom : 10px;
	background-color : #49b6a8;
	border : 1px solid white;
	color : white;
	padding : 10px 10px 10px 10px;
	text-transform : uppercase;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btnRdv:hover {
    background-color: #BDBDBD; /* Green */
    color: white;
}  	

#colNbRep {
	text-align:center;
}

#btnAccepterRep {
	background-color : #49b6a8;
	color : white;
	height : 27px;
	border-radius : 5px;
	font-family : 'Fjalla One', sans-serif;
	text-transform: uppercase;
	
}

#btnRefuserRep {
	background-color : #848484;
	color : white;
	height : 27px;
	border-radius : 5px;
	font-family : 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

td {
	background-color : aliceblue;
}

 

 
 