body {
	background: url('./bg5.jpg');
	background-attachment: fixed;
}

@media (max-width: 992px)
	.nav-link {
    width:100% !important;
}

#fondNav {
    width: 1519px;
    background-color: white !important;
    height: 51px;
    position: relative;
    top: -180px;
    left: 0;
}

#dashboard1 {
position: absolute;
    width: 980;
    height: 250;
    border-radius: 7px;
    background-color: #245B55;
    top: 580;
    left: 280;
    border: 3px solid black;
}

#dashboard3 {
position: absolute;
    width: 980;
    height: 260;
    border-radius: 7px;
    background-color: #245B55;
    top: 40;
    left: 280;
    border: 3px solid black;
}

#dashboard2{
	position: absolute;
    width: 980;
    height: 258;
    border-radius: 7px;
    background-color: #245B55;
    top: 310;
    left: 280;
    border: 3px solid black;
}

#dashboard4 {
position: absolute;
    width: 980;
    height: 150;
    border-radius: 7px;
    background-color: #245B55;
    top: 842;
    left: 280px;
    border: 3px solid black;
}

#dashboard5 {
position: absolute;
    width: 980;
    height: 110;
    border-radius: 7px;
    background-color: #245B55;
    top: 1005px;
    left: 280px;
    border: 3px solid black;
}

#btnAccesAnnonce{
    color: black;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 397;
    border-radius: 12px;
    top: 195;
}

#btnAccesReponse {
	color: black;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 397;
    border-radius: 12px;
    top: 195;
}

#btnAccesInventaire {
		    color: black;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 397;
    border-radius: 12px;
    top: 195;
}

#btnAccesInvitationsRecues {
	color: black;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 360px;
    border-radius: 12px;
    top: 105px;
}

#btnAccesAnnonce:hover{
	text-decoration:underline;
}

.menu-annonce{
	width: 100% !important;
    padding-left: 20px !important;
    padding-top: 0px !important;
}
.no-padding{
	padding:0px !important;
}
.no-margin{
	margin:0px !important;
}
.text-left{
	text-align:left !important;
}
.sous-menu{
	position: absolute !important;
    display: block !important;
    left: -87px !important;
    width: 106px !important;
    min-width: 377px !important;
    margin-top: -2px !important;
    padding: 2px 20px !important;
}
.navbar {
	height: 58px;
}

.navbar-brand2 {
	margin-left: 100px;
}

a .navbar-brand {
	font-size: 10px;
}

.navbar-toggler:not (:disabled ):not (.disabled ) {
	cursor: pointer;
	background-color: #245B55;
}
.fixed-top{
	height:80px;
}

.nav-item{
	text-align:left;
	min-width:240px;
}
.navbar-toggler {
	padding: 2.25rem -0.25rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.grey-bg{
	background-color: #245B55 !important;
}
.test {
	position: absolute;
	width: 50px;
	height: 69px;
	background-color: #245B55;
	/*     position: fixed; */
	top: 0;
	right: 0;
}

a {
	font-family: 'Abel', sans-serif;
}

.bg-light {
	height: 90px;
	color: black;
	position: fixed;
}

.btn {
	color: white !important;
	font-size: 26px !important;
	text-transform: uppercase;
	height: 80;
	width: 379px;
	padding-top: 7px!important;
	margin-left: -16px;
	padding-left: 35px;
	background-color: #245B55 !important;
	display: flex;
	justify-content: center;
	font-family : 'Abel', sans-serif;
	border-radius: 0px!important;
}

.lblInfosOeufs {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 20;
	left: 113;
	margin-top: 510;
}

.container-dashboard {
	display: flex;
	justify-content: center;
}

.lblUser {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 20;
	left: 685px;
	top: -167;
	text-transform: uppercase;
}

.lblStatsUser {
	display: flex;
	justify-content: center;
	top: 120;
}

.donTotal {
	top: -121;
	position: absolute;
	font-family: 'Abel', sans-serif;
	text-transform: initial;
	font-size: 15;
	left:612;
}

.dernierDon {
	top: -86;
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 15;
	text-transform: initial;
	left: 638;
}

.produitPeremption {
	top: -50;
	position: absolute;
	font-family: 'Abel', sans-serif;
	color: red;
	font-size: 15;
	text-transform: initial;
	left: 601;
}

.lblStatsDon {
	top: 120;
	left: 150;
	font-size: 20;
	color: black;
	position: absolute;
	font-family: 'Abel', sans-serif;
}

.lblStatsDernierDon {
	top: 163;
	left: 150;
	font-size: 20;
	color: black;
	position: absolute;
	font-family: 'Abel', sans-serif;
}

.lblInfosYaourt {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 20;
	left: 865;
	margin-top: 510;
}

.lblInfosPainDeMie {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 20;
	left: 115;
	margin-top: 830;
}

.lbltitre {
	position: absolute;
	font-family: 'Abel', sans-serif;
	font-size: 50;
	/* 	left: 555px; */
	top: 260;
	text-transform: uppercase;
}

#Annonces-elements{
    /* display: inline-block; */
    margin: 2px;
    padding: 2px;
    color: white;
    font-size: 20px;
    top: 204px!important;
    left: 9px!important;
    position: relative;
    background-color: black;
}

.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 2.25rem;
	line-height: inherit;
	white-space: nowrap;
	position: fixed;
}

.navbar-light .navbar-fontColor {
	color: white !important;
	font-size: 37px !important;
	text-transform: uppercase;
	width: 379px;
	margin-left: -16px;
	padding-left: 35px;
	background-color: #245B55 !important;
	display: flex;
	justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
	color: white !important;
	font-size: 26px !important;
	background-color: #245B55 !important;
	padding-left: 20px !important;
	text-transform: uppercase !important;
    padding-top: 20px;
	height: 80px;
	padding-right:0px !important;
}

#menuAnnonces2 .dropdown-menu{
	display:none !important;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
	margin-top: 0;
	padding-top: 10;
	background-color: #245B55;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 22.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: white !important;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 20px;
}
#menuAnnonces {
	left : 60px!important;
	font-size : 20px!important;
	text-decoration : none!important;
	padding : 17 17 17 17px!important;
}

#menuAnnonces2 {
	font-size : 20px!important;
	text-decoration : none!important;
	padding : 17 17 17 17px!important;
	display:none;
	width: 100%;
    left: 0px !important;
    top: 47px;
    min-width:360px;
}

#menuAnnonces3 {
	font-size : 20px!important;
	text-decoration : none!important;
	padding : 17 17 17 17px!important;
	display:none;
	width: 100%;
	left: 171px !important;
	top: 0px;
    min-width:360px;	
}

#policeMenu {
		color: white!important;
}

menuReponsesRecues {
		color: white!important;
	
}

#policeMenu2 {
	color : white!important;
}

.navbar-nav .nav-link {
	padding-right: 45 !important;
}

a.dropdown-item {
	color: white !important;
	background-color: #245B55 !important;
}

a.dropdown-item:hover {
	text-decoration: underline;
}

.btnDeconnexion {
	display: flex;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #245B55;
	position: fixed;
	bottom: 5;
	right: 5;
	border-radius: 100px;
}

.deconnexion {
	margin-top: 8;
	margin-right: 4;
}

/*<!--==============================ANIMATION HOVER=====================-->*/
.mr-auto, .mx-auto {
	margin-right: auto !important;
	width: 100%;
	text-align: center;
}

.open>.dropdown-menu {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}


.dropdown-menu {
	opacity: .3;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1, 0);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}
/*<!--==============================FLEX CONTAINER=====================-->*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%!important;
}

.flex-container>.imgContainer {
	text-align: center;
	-webkit-transition: .4s ease-in-out opacity !important;
	-moz-transition: .4s ease-in-out opacity !important;
	-o-transition: .4s ease-in-out opacity !important;
	transition: .4s ease-in-out opacity !important;
}

.flex-container>div .imgYaourt {
	text-align: center;
	-webkit-transition: .4s ease-in-out opacity;
	-moz-transition: .4s ease-in-out opacity;
	-o-transition: .4s ease-in-out opacity;
	transition: .4s ease-in-out opacity;
	background-attachment: fixed;
}

.flex-container>div .imgPainDeMie {
	text-align: center;
	-webkit-transition: .4s ease-in-out opacity;
	-moz-transition: .4s ease-in-out opacity;
	-o-transition: .4s ease-in-out opacity;
	transition: .4s ease-in-out opacity;
	background-attachment: fixed;
}

.containerLblYaourt {
	position: absolute;
	font-size: 30;
	text-transform: uppercase;
	margin: -119 0 0 165;
	font-family: 'Abel', sans-serif;
	display: none;
	text-decoration: none;
}

.separateur {
	width: 200;
}

div>.imgContainerYaourt {
	position: relative;
	top: 300;
	left: 110;
	margin-bottom: 50;
	width: auto;
	height: 211px;
}

div>.imgContainer {
	position: relative;
	top: 300;
	left: 110;
	margin-bottom: 50;
	width: auto;
	height: 211px;
}

.containerLblOeuf {
	position: absolute;
	font-size: 30;
	text-transform: uppercase;
	margin: -119 0 0 150;
	font-family: 'Abel', sans-serif;
	display: none;
	text-decoration: none;
}

.imgPainDeMie {
	position: relative;
	top: 360;
	left: 110px;
	margin-bottom: 50;
	width: auto;
	height: 211px;
}

.containerLblPainDeMie {
	position: absolute;
	font-size: 30;
	text-transform: uppercase;
	margin: 185 0 0 250;
	font-family: 'Abel', sans-serif;
	display: none;
	text-decoration: none;
}

.imgContainer:hover {
	opacity: 0.8;
}

.imgYaourt:hover {
	opacity: 0.8;
}

.imgPainDeMie:hover {
	opacity: 0.8;
}

.imgContainer:hover .containerLblOeuf {
	display: block;
	color: black;
}

.imgContainerYaourt:hover .containerLblYaourt {
	display: block;
	color: black;
}

.imgContainerPainDeMie:hover .containerLblPainDeMie {
	display: block;
	color: black;
}
/*==============================PAGE ANNONCES=====================*/
#page-annonces {
	/* 	background-color : blue; */
	/* 	width : 1000px; */
	/* 	height : 200px; */
	top: 260px;
	position: absolute;
	/* /* 	left : 200px; */ */
	display: flex;
	justify-content: center;
}

.lblTitreAnnoncesTt{
position: relative;
font-family: 'Abel', sans-serif;
font-size: 50;
left: 480;
top: 10;
text-transform: uppercase;
}

.lblTitreAnnoncesEnvie {
		position: relative;
	font-family: 'Abel', sans-serif;
	font-size: 50;
left: 480px;
top: 10px;
	text-transform: uppercase;
}

.lblTitreAnnonces {
	position: relative;
	font-family: 'Abel', sans-serif;
	font-size: 50;
left: 0px;
top: 10px;
	text-transform: uppercase;
}

#btnModifier {
	position: absolute;
	left: -35px;
	top: 0;
}

#btnModifierRaisin {
	color: black!important;
	position: absolute!important;
	top: 202px;
	left: 440px;
	font-family: Abel, sans-serif;
	font-size: 30px!important;
	text-transform: uppercase;
	background-color: #A5DCC7!important;
	border: none;
	width: 200;
	cursor: pointer;
	height : 50px;
}

#lblModifierRaisin:hover {
	color : white;
}

#lblModifierRaisin {
	    position: absolute;
    top: 1px;
    left: 40px;
}

#lblModifier:hover {
	color : white;
}

.btn-secondary {
	    color: #fff;
/*     background-color: #5a6268; */
    border-color: #545b62;
    padding: 0px 0px 0 0;
    height: 50px;
    width: 150px;
}

.btn-primary {
		    color: #fff;
/*     background-color: #5a6268; */
    border-color: #545b62;
    padding: 0px 0px 0 0;
    height: 50px;
    width: 150px;
}

#lblRecapAnnonce {
	position: absolute;
    top: 90px;
    left: 320px;
    color: white;
    font-family: Abel, sans-serif;
    font-size: 30px;
}


#page-annonces-jambon {
	top: 350px;
	position: absolute;
	display: flex;
	justify-content: center;
	margin-bottom : 200px;
}

#btnModifierPasteque {
		position: absolute;
	left: -95px;
	top: 0;
}

#lblModifierPasteque {
	color: black;
	position: absolute;
	top: 202px;
	left: 378px;
	font-family: Abel, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	background-color: #A5DCC7;
	border: none;
	width: 200;
	cursor: pointer;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10;
    border-top: 1px solid #e9ecef;
}

#lblModifierPasteque:hover {
	color : white;
}

#lblAnnulerPasteque:hover {
	color : white;
}

#lblAnnuler:hover {
	color : white;
}

#lblRecapAnnonceJambon{
	position: absolute;
    top: 90px;
    left: 320px;
    color: white;
    font-family: Abel, sans-serif;
    font-size: 30px;
}
/*==============================MODAL PAGE ANNONCES=====================*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    height: 573px !important;
	top:-135px!important
}

#modal-content-intitule {
	width : 300px;
}

#modal-content-quantite {
	width : 300px;
}

/* Add Animation */
/* @-webkit-keyframes animatetop { */
/*     from {top:-135px; opacity:0}  */
/*     to {top:135px; opacity:1} */
/* } */

@keyframes animatetop {
    from {top:-135px; opacity:0}
    to {top:-135; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 480;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closePasteque {
	    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 480;
}

.closePasteque:hover,
.closePasteque:focus {
	    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeRaisin {
		    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
        position: absolute;
    left: 480;
}

.closeRaisin:hover,
.closeRaisin:focus {
		    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4AB6A7!important;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #4AB6A7!important;
    color: white;
    align-content: center;
}

/*==============================PAGE REPONSES RECUES=====================*/
#pages-reponses-recues {
	width: 1000px;
	height: 200px;
	top: 260px;
	position: absolute;
	/* 	left : 200px; */
	display: flex;
	justify-content: center;
}

#image-container-lait {
	width: 1000px;
	height: 200px;
	top: 700px;
	position: absolute;
	/* 	left : 200px; */
	display: flex;
	justify-content: center;
}

.reponse-utilisateur1 {
	background-color: black;
	width: 860px;
	height: 100px;
	top: 197px;
	position: absolute;
	left: -3px;
	display: flex;
	justify-content: center;
	opacity: 0.7;
	border-radius: 10px;
	border: 1px solid white;
}

.reponse-utilisateur2 {
	background-color: black;
	width: 860px;
	height: 100px;
	top: 297px;
	position: absolute;
	left: -3px;
	display: flex;
	justify-content: center;
	opacity: 0.7;
	border-radius: 10px;
	border: 1px solid white;
}

.lbl-utilisateur1 {
	font-family: 'Abel', sans-serif;
	font-size: 30px;
	position: absolute;
	top: 100px;
	width: 100%;
	color: white;
}

.lbl-utilisateur2 {
	font-family: 'Abel', sans-serif;
	font-size: 30px;
	position: absolute;
	top: 149px;
	width: 100%;
	color: white;
}

.lbl2-utilisateur1 {
	font-family: 'Abel', sans-serif;
	font-size: 30px;
	position: absolute;
	top: 143px;
	width: 100%;
}

.lbl2-utilisateur2 {
	font-family: 'Abel', sans-serif;
	font-size: 35px;
	position: absolute;
	top: 192px;
	width: 100%;
}

#btn-accepte-utilisateur1 {
	color: black;
	top: 197px;
	position: absolute;
	left: 848px;
	height: 99;
	background-color: #4AB6A7;
	transition-duration: 0.4s;
	border: none;
}

#btn-accepte-utilisateur2 {
	color: black;
	top: 298px;
	position: absolute;
	left: 848px;
	height: 99;
	background-color: #4AB6A7;
	transition-duration: 0.4s;
	border: none;
}

#btn-accepte-utilisateur1:hover {
	background-color: #4AB6A7;
	color: white;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 550px !important;
	/* Could be more or less, depending on screen size */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	height: 120;
	font-family: 'Abel', sans-serif !important;
	font-size: 20px;
}

/* Add Animation */
@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

/*<!--==============================PAGE TTES ANNONCES=====================-->*/


.page-toutesLesAnnonces-brocoli {
  top: 268px;
    left: 128px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 200px;
    
}

.lblDetailsBrocoli{
	    position: absolute;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
top: 90px;
    left: 120;
    display:none;
}

.page-toutesLesAnnonces-brocoli:hover {
	opacity : 0.7;
	-webkit-transition: .4s ease-in-out opacity !important;
	-moz-transition: .4s ease-in-out opacity !important;
	-o-transition: .4s ease-in-out opacity !important;
	transition: .4s ease-in-out opacity !important;
}

.page-toutesLesAnnonces-brocoli:hover .lblDetailsBrocoli {
	display: block;
	color: black;
}

.infoBrocoli {
	width: 552;
    height: 64px;
    background-color: #a5dcc7;
    top: 474px;
    position: absolute;
    -webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
    left: 103px;
    font-family : 'Abel', sans-serif;
    font-size: 20px;
}

#img-toutes-annonces-container {
    display: inline-block;
    /* padding: 10 10 10 0; */
    width: 511 !important;
    /* margin: 120 0 10 100!important; */
    font-family: 'Abel', sans-serif;
    /* height: 500px; */
    position: relative;
    top: 260px;
        margin-bottom: 50;
	margin-left: 65px;
    margin-right: 113px;

}

.imgAnnonce:hover {
	opacity : 0.7;
	-webkit-transition: .4s ease-in-out opacity !important;
	-moz-transition: .4s ease-in-out opacity !important;
	-o-transition: .4s ease-in-out opacity !important;
	transition: .4s ease-in-out opacity !important;
}

#lblDetailsAnnonceTomate {
text-transform: uppercase;
font-size: 30px;
position: relative;
top: -125px;
left: 147px;
display:none;
height: 0px;
}

#img-toutes-annonces-container:hover #lblDetailsAnnonceTomate {
	display: block;
	color:black;
}

.lblAnnonce {
	    background-color: #a5dcc7;
    width: 552px;
    position: relative;
    top: -43px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    left: 3;
        height: 80;
    font-size: 20px;
    text-align: -webkit-center;
}

#languetteAnnonce {
	    position: absolute;
       top: -20px;
    left: 88px;
}

.btnAnnonce {
	text-decoration : none;
	border : none;
	color: black;
	background-color : transparent;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	font-size : 30px;
	cursor: pointer;
	position: absolute;
}

#searchBar {
position: absolute;

top: 250;

left: 137.7px;

width: 100px;
}

.inputSearchBar{
	width: 192px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.inputSearchBar:focus{
	width:450px;
}

#btnMap {
width: 160px;

height: 44;

position: absolute;

top: 321;

left: 139px;

display: flex;
}

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.green   { 
	background-color: 245b55;
    color: white;
    width: 260px;
    height: 40px;
    padding: 5; 
    position: absolute;
    left: -618px;
    top: -29px;
}


/* -------------------- Colors: Text */

.green select   { color: #fff; }



/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

.lblFiltre {
	position: relative;
color: white;
width: 200px;
font-family: Abel, sans-serif;
font-size: 20px;
left: -616;
top: -65;
display: flex;
}

#filtreRech {
width: 195px;

height: 41px;

position: absolute;

top: 257;

left: 1189;
}

.annoncesSurListe {
position: absolute;
left: 70px;
height: 43px;
width: 91%;
top: 140;
}

#bandeau-transparent {
background-color: black;
opacity: 0.5;
height: 30px;
width: 554px;
top: -214px;
position: relative;
border-radius : 7px 7px 7px 7px;
left: 3px;
}

#lblDistance {
	position: absolute;
    left: 470px;
    top: 1px;
    width: 100px;
    color: white;
    font-size: 20px;
    overflow: visible;
}


#img-etoile {
position: absolute;
top: -546;
left: -40px;
}

#lblAnnonceEnCoursYo {
    font-size: 25;
    color: white;
    position: relative;
    top: -28px;
    font-family: Abel, sans-serif;
    left: 330px;
    line-height: 39px;
}

#lblEnviesTerminees {
position: absolute;

color: white;

font-family: Abel,sans-serif;

font-size: 25px;

width: 464px;

    left: 310px;
    top: 13px;

word-spacing: 5;

line-height: 44px;
}

#lblEnviesTerminees2 {
    position: absolute;
    color: white;
    font-family: Abel,sans-serif;
    font-size: 25px;
    width: 517px;
    left: 250px;
    top: 135px;
    word-spacing: 5;
    line-height: 44px;
}

#lblEnviesTerminees3 {
 position: relative;
    color: white;
    font-family: Abel,sans-serif;
    font-size: 25px;
    width: 509px;
    left: 150px;
    top: -225px;
    word-spacing: 5;
    line-height: 44px;
}