<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Food2Eat (beta)</title>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
	<link rel="stylesheet" type="text/css" href="./resources/css/styleReponse.css">
</head>
<body>	

		<div id="annoncesAvecReponses">
			<div id="titre" style="text-decoration:none; font-family:'Abel', sans-serif; font-size: 50; margin-bottom:100px;"><b>MES ANNONCES REPONDUES</b><br/>
		</div>
			<!--===============================tableau RDV à confirmer==============================-->
 			<div v-if="btnRDVaConfirmer == true" class="table-responsive-sm">

 			<b>MES REPONSES A VALIDER</b> <button v-on:click="voirRdvAVenir()" type="button" class="btnRdv">Voir mes RDV à venir</button>
				<table class="table table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <!-- <th scope="col">#</th> -->
				      <th scope="col">Date de publication</th>
				      <th scope="col">Annonces avec RDV à confirmer</th>
				      <th scope="col" id="colNbRep">Nombre de réponses</th>
				    </tr>
				  </thead>
				  <tbody>
				  				  
					  	<tr v-if="btnRDVaConfirmer == true" v-for="annonce in annonce" v-on:click="afficherReponse(annonce[0])" data-toggle="modal" data-target="#modal">
						  	<!-- <th scope="row">{{incrementer()}}</th> -->
						      <td>{{moment(annonce[0].datePublication).format('DD/MM/YYYY')}}</td>
						      <td><b> <u>Produit à donner</u> : {{annonce[0].stock.produit.nomProduit}}</b><br/> <u>Annonce</u> " {{annonce[0].titre}}	"				      						      
						      
						      </td>
						      <td align="center"><b>{{annonce[1]}}</b></td>
					  	</tr>			  			  
				  </tbody>
				</table>
			</div>
			
			<!--===============================tableau RDV à venir==============================-->
 			<div v-if="btnRDVaConfirmer == false" class="table-responsive-sm">

 				<b>MES RDV A VENIR</b> <button v-on:click="voirRdvAconfirmer()" type="button" class="btnRdv">Voir les réponses à valider</button>
				<table class="table table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <!-- <th scope="col">#</th> -->
				      <th scope="col">Date de publication</th>
				      <th scope="col">Annonces avec RDV à venir</th>
				      <th scope="col">RDV</th>
				    </tr>
				  </thead>
				  <tbody>
				  				  
					  	<tr v-for="repRdv in reponseRdv"  v-if="btnRDVaConfirmer == false">
						  	<!-- <th scope="row">{{incrementer()}}</th> -->
						      <td>{{moment(repRdv.annonce.datePublication).format('DD/MM/YYYY')}}</td>
						      <td> <b> <u>Produit à donner</u> : {{repRdv.annonce.stock.produit.nomProduit}}</b><br/> <u>Annonce</u> " {{repRdv.annonce.titre}} " <br/>						      						      						      
						      </td>
						      <td>
						      <div  style="display: flex;">
						      	<div>
							      	<b>{{repRdv.utilisateur.pseudo}}</b><br/>
							      	<img id="userRep" v-bind:src="getSrcUser(repRdv.utilisateur.pseudo)"/>
						      	</div>
						      	<div>
								    <u>Date:</u> {{moment(repRdv.dateRdv).format('DD/MM/YYYY à HH:mm')}}<br/>
								    <u>Lieu :</u> <br/>{{repRdv.annonce.adresse.numeroVoie}} {{repRdv.annonce.adresse.typeVoie}} {{repRdv.annonce.adresse.nomVoie}}<br/> 
								    {{repRdv.annonce.adresse.ville.ville}} {{repRdv.annonce.adresse.ville.codePostal}}
							  	</div>
							  	</div>
							  </td>
					  	</tr>			  			  
				  </tbody>
				</table>
			</div>
			
			

			
			<!--===============================Modal ==============================-->
			
			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document">
   				<div class="modal-content">
      				<div class="modal-header">
      					<h5 class="modal-title" id="exampleModalLabel">REPONSES RECUES<br/>Annonce : "{{annonceSelectionnee.titre}}"</h5>
       					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
     				    	<span aria-hidden="true">&times;</span>
      					</button>
    				</div>
    				   <div id="modal-body-rep" style="border-left:0px;">					
							<div v-for="reponse in reponse">
								<div style="">
								<img id="userRep" v-bind:src="getSrcUser(reponse.utilisateur.pseudo)"/>
								<b>{{reponse.utilisateur.pseudo}}</b> a choisi le {{moment(reponse.dateRdv).format('DD/MM/YYYY à HH:mm')}}<br/>
								<button v-on:click="accepterRep(annonceSelectionnee, reponse)" id="btnAccepterRep">ACCEPTER</button>
								<button v-on:click="refuserRep(reponse)" id="btnRefuserRep">REFUSER</button><br/>
								</div>															
							</div>
							
													
    				  </div>
    				  <div class="modal-footer">   				   		
     					    <button type="button" class="btn btn-primary" data-dismiss="modal">Retour</button>
    				  </div>
   					</div>
   					
 			   </div>
			</div>

	   			
   		</div>

	<script src="./js/ReponsesBis.js"></script>

</body>
</html>