<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Food2Eat (beta)</title>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylesReponsesRecues.css" media="all" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylefoodfriend.css">
	<script src="./resources/js/jquery-3.3.1.min.js"></script>
	<script src="http://momentjs.com/downloads/moment-with-locales.js" ></script>
	
	<script src="./js/foodfriendtest.js"></script>
</head>
<body onload="initComportementJs()">


		<div class="lblTitreAnnonces">
			<b style="position:relative; left:430;">Invitations Foodfriend reçue(s)</b>
		</div>	
<br/><br/><br/><br/><br/><br/><br/><br/>			
		<div id="listeDemandesFoodfriend">
			<div v-if="foodfriend.length == 0" style="position: absolute;top: 300px;font-family: 'Abel', sans-serif;font-size: 30px;left: 680px;">
				pas d'invitation...
			</div>
			
   			<div id="friend-element" v-for="foodfriend in foodfriend">  
	   				<img v-bind:src="getSrc(foodfriend.utilisateur1.pseudo)"/><br/>
	   				{{foodfriend.utilisateur1.pseudo}} <br/>
	   				{{foodfriend.utilisateur1.nom}} {{foodfriend.utilisateur1.prenom}} <br/><br/>
	   				{{foodfriend.utilisateur1.email}} <br/><br/>
	   				<!--  <input id="idfoodfriend" value="">{{foodfriend.idFoodfriend}}</input>-->
	   				<button v-on:click="AccepterDemande(foodfriend)">ACCEPTER</button>
	   				<button v-on:click="RefuserDemande(foodfriend)">REFUSER</button>
	
   			</div>
		</div>

	<script src="./js/foodfriendtestJ2.js"></script>

</body>
</html>