<meta charset="utf-8">

<div class="container">
	<div class="lblTitreAnnonces">
		<b>Mes annonces cloturées</b>
	</div>
	<div id="page-annonces">
		<div id="listeMesAnnonceTermines">
				<span class="lblFiltre">Filtre d'affichage :</span>
			 <!--  <button @click="chargerAnnonces()" id="btnSelectionAnnoncesTerminees">Liste annonces cloturées</button>-->
			<select class="styled-select green rounded" id="selectTypeAnnoncesTerminees" v-model="typeAnnoncesCloturees">
				<option value="plop">Toutes mes annonces terminées</option>
				<option value="mesAnnoncesAnnulees" selected>Mes annonces annulées</option>
				<option value="mesAnnoncesTerminees">Mes annonces terminées</option>
			</select> <br/>
			<br/>
			<div id="Envies-elementsTermines" v-for="annonce in annonces">
			
				<div v-if="annonce.annulation == null">
					<div v-if=" annonce.dateAnnulation == null">
					<img class="imgAnnonceTermine" v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>
						<h3>Annonce terminée</h3>
						<span>{{annonce.titre}} Votre annonce est terminée !<br />
							Vous avez fait un don de : {{annonce.stock.quantite}}
							{{annonce.stock.produit.nomProduit}} </br> 
							Date de l'échange :{{moment(annonce.DateFinAnnonce).format('DD/MM/YYYY')}} 
						 </span> <br />
					</div>
					<div v-if="annonce.dateFinAnnonce == null">
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)" class="imgAnnonceTermine" /><br/>
							Vous avez annulez votre don de :  {{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}} </br>
							Date de l'annulation :
							{{moment(annonce.dateAnnulation).format('DD/MM/YYYY')}}
							Merci de renseigner un motif d'annulation :  </br>
						
						<select id="selectMotifAnnulation" v-model="nomAnnulation">
					
							<option v-for="annulation in annulations":value="annulation.idAnnulation">
							{{annulation.nomAnnulation}}</option>
						</select>
						<button v-on:click="insererMotifAnnulation(annonce.idAnnonce)" id="btnValiderMotifAnnulation">Valider</button>
					</div>
				</div>
				<div v-else>
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)" class="imgAnnonceTermine" /><br/>
					<h3>Annonce annulée</h3>
					<span> Vous avez annulé votre annonce .
					{{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}} <br/>
					
						Motif de l'annulation : {{annonce.annulation.nomAnnulation}}<br />
						Date de l'annulation :
						{{moment(annonce.dateAnnulation).format('DD/MM/YYYY')}}
						
					</span>
			</div>
		</div>
	</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modalRaisin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modifier mon annonce</h5>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Valider</button>
							<button type="button" class="btn btn-primary">Annuler</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<script src="./js/AnnonceVuTestDesign.js"></script>
<script src="./js/AnnonceVueJs.js"></script>
<script src="./js/modalAnnonceJS.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
