<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Food2Eat (beta)</title>
<script src="./resources/js/vue.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
</head>
<body>
	<div id="listeMesAnnonceTermines">
	  <button @click="chargerAnnonces()">Listes annonces cloturées</button>
		<select id="selectTypeAnnoncesTerminees"
			v-model="typeAnnoncesCloturees">
			<option value="plop">Toutes mes annonces terminées</option>
			<option value="mesAnnoncesAnnulees">Mes annonces annulées</option>
			<option value="mesAnnoncesTerminees">Mes annonces terminées</option>
		</select>
		<h1 id="Annonces-Titre">Mes annonces terminées</h1>
		<br />
		<div>
			<div id="Annonces-elements" v-for="annonce in annonces">
			
				<div v-if="annonce.annulation == null">
					<div v-if=" annonce.dateAnnulation == null">
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>
						<h3>Annonce terminée</h3>
						<span>{{annonce.titre}} Votre annonce est terminée !<br />
							Vous avez fait un don de : {{annonce.stock.quantite}}
							{{annonce.stock.produit.nomProduit}} </br> le
							{{moment(annonce.repannonces.dateRDV).format('L')}} 
							Nom du produit : {{annonce.stock.produit.idProduit}}. </span> <br />
					</div>
					<div v-if="annonce.dateFinAnnonce == null">
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>
							Vous avez annulez votre don de :  {{annonce.stock.quantite}}{{annonce.stock.produit.nomProduit}}
							Date de l'annulation :
							{{moment(annonce.dateAnnulation).format('L')}}
							Merci de renseigner un motif d'annulation :  </br>
						
						<select id="selectMotifAnnulation" v-model="nomAnnulation">
					
							<option v-for="annulation in annulations":value="annulation.idAnnulation">
							{{annulation.nomAnnulation}}</option>
						</select>
						<button v-on:click="insererMotifAnnulation(annonce.idAnnonce)" id="btnValiderMotifAnnulation">Valider</button>
					</div>
				</div>
				<div v-else>
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>
					<h3>Annonce annulée</h3>
					<span>{{annonce.titre}} Vous avez annulé votre annonce <br />
					{{annonce.stock.quantite}}{{annonce.stock.produit.nomProduit}}
						Nom du produit : {{annonce.stock.produit.idProduit}}.
						Motif de l'annulation : {{annonce.annulation.nomAnnulation}}<br />
						Date de l'annulation :
						{{moment(annonce.dateAnnulation).format('L')}}
						Nom du produit : {{annonce.stock.produit.idProduit}}.
					</span>
			</div>
		</div>
	</div>
	</div>
	<script src="./js/AnnonceVueJs.js"></script>
</body>
</html>