<meta charset="utf-8">

<div class="container">
	<div class="lblTitreAnnonces">
		<b>Mes annonces cloturées</b>
	</div>
	<div id="page-annonces">
		<div id="listeMesAnnonceTermines">
				<span class="lblFiltre" style="position:absolute; left:-190px">Filtre d'affichage :</span>
			 <!--  <button @click="chargerAnnonces()" id="btnSelectionAnnoncesTerminees">Liste annonces cloturées</button>-->
			<select class="styled-select green rounded" id="selectTypeAnnoncesTerminees" v-model="typeAnnoncesCloturees" style="position:absolute; left:-193px;">
				<option value="plop">Toutes mes annonces terminées</option>
				<option value="mesAnnoncesAnnulees" selected>Mes annonces annulées</option>
				<option value="mesAnnoncesTerminees">Mes annonces terminées</option>
			</select> <br/>
			<br/>
			<div id="Envies-elementsTermines" v-for="annonce in annonces">
			
				<div v-if="annonce.annulation == null">
					<div v-if=" annonce.dateAnnulation == null">
					<img class="imgAnnonceTermine" v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>
						
						<h3 style="font-size:50px; top:-202px; position:relative; left:20px; font-family: 'Abel', sans-serif; color: white;">Annonce terminée</h3>
						<span id="lblAnnonceTer" style="position:relative;top:-200px;left:230px;color:white; font-family : 'Abel', sans-serif; font-size:25px">
<!-- 						Motif : {{annonce.titre}} <br/> -->Votre annonce est cloturée !<br /> 
							Vous avez fait un don de : <b><u>{{annonce.stock.quantite}}
							{{annonce.stock.produit.nomProduit}}</u></b> </br> 
							Date de l'échange : <b><u>{{moment(annonce.dateRDV).format('DD/MM/YYYY')}}</u></b> 
						 </span> <br />
					</div>
					<div v-if="annonce.dateFinAnnonce == null">
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)" class="imgAnnonceTermine" /><br/>
						<span id="wesh" style="position:relative; top:-208; left:260; font-family:'Abel', sans-serif; font-size:26; color:white;">
						Vous avez annulé votre don de : <b><u> <br/> {{annonce.stock.quantite}}{{annonce.stock.produit.nomProduit}}</u></b>  </br>
							Date de l'annulation :
							<b><u>{{moment(annonce.dateAnnulation).format('DD/MM/YYYY')}}</u></b> <br/>
							Merci de renseigner un motif d'annulation :  </br></span>
						
						<select id="selectMotifAnnulation" v-model="nomAnnulation" style="position:relative; top:-206; left:261;">
					
							<option v-for="annulation in annulations":value="annulation.idAnnulation">
							{{annulation.nomAnnulation}}</option>
						</select>
						<button v-on:click="insererMotifAnnulation(annonce.idAnnonce)" id="btnValiderMotifAnnulation" style="position:relative; top:-207; left:290;">Valider</button>
					</div>
				</div>
				<div v-else>
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)" class="imgAnnonceTermine" /><br/>
					<h3 style="position: relative;top: -202px; left: 20px; font-family: 'Abel', sans-serif; color: white; font-size: 50px;">Annonce annulée</h3>
					<span style="position:relative;top:-200px;left:100px;color:white; font-family : 'Abel', sans-serif; font-size:25px"> Vous avez annulé votre annonce pour
					<b><u>{{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}}</u></b> <br/>
					
						Motif de l'annulation : <b><u>{{annonce.annulation.nomAnnulation}}</u></b><br />
						Date de l'annulation :
						<b><u>{{moment(annonce.dateAnnulation).format('DD/MM/YYYY')}}</u></b>
						
					</span>
			</div>
		</div>
	</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modalRaisin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modifier mon annonce</h5>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Valider</button>
							<button type="button" class="btn btn-primary">Annuler</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<script src="./js/AnnonceVueJs.js"></script>
<script src="./js/modalAnnonceJS.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
