<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Food2Eat (beta)</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="./js/momentwithlocal.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
</head>
<body>
	<div class="container" id="listeMesEnviesEnAttente">

			<div class="lblTitreAnnonces">
			<b>Mes souhaits en attente</b>
			</div>
		<br />
		<div>

			<div id="Annonces-elements" v-for="annonce in annonces">
				<!-- <div v-if="annonce.annulation == empty"> -->
					<!-- <div v-if=" annonce.repannonces.dateAcceptationReponse = null"> -->
						<h3>Envie en attente</h3>
						<span> Vous êtes interessé par l'annonce de {{annonce.stock.utilisateur.pseudo}}  <br />
							  qui vous propose : {{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}} </br> 
							 Vous avez choisi le {{date(annonce.repannonces.dateReponse)}} pour le don.
							</span> <br />
						
					</div>
				</div>
		

			</div>
	<script src="./js/AnnonceVueJs.js"></script>
</body>
</html>