<meta charset="utf-8">

<div class="container">
	<div class="lblTitreAnnonces">
		<b>Mes souhaits cloturés</b>
	</div>
	<div id="page-annonces">
		<div id="listeMesEnviesTermines">
		<span class="lblFiltre" style="left:-168px;">Filtre d'affichage :</span>
			<br />

			<select class="styled-select green rounded" id="selectTypeEnvieTerminees" v-model="typeEnvies" style="left:-171px;">
				<option value="rdvAvenir">Vos prochains rendez-vous</option>
				<option value="mesEnviesAEval">Mes envies à évaluer</option>
				  <option value="MesEnviesTerminesEtEval">Toutes mes envies terminées</option>
			</select> <br />


			<div id="Annonces-elementsTermines" v-for="evaluation in evaluations">
		 <img class="imgEnviesTermines" v-bind:src="getSrc(evaluation.repannonce.annonce.stock.produit.idProduit)" style="position:relative; left:0px;"/> </br>
		 	<span id="lblEnviesTerminees">
					Le {{moment(evaluation.repannonce.dateRdv).format('DD/MM/YYYY hh:mm')}} vous avez
						reçu de {{evaluation.repannonce.annonce.stock.utilisateur.pseudo}}, </br>le don de :
						{{evaluation.repannonce.annonce.stock.quantite}} {{evaluation.repannonce.annonce.stock.produit.nomProduit}} </br>
						<b><u>Note associée à ce don </u></b>  : {{evaluation.note}}/5 <br/>
						<b><u>Commentaire associé à ce don  </u></b> : {{evaluation.commentaire}}</br></span>
				</div>
				
				<div id="Envies-elementsTermines" v-for="repannonce in repannonces">
				   <img class ="imgEnviesTermines2" v-bind:src="getSrc(repannonce.annonce.stock.produit.idProduit)" style="position: relative; left:12px;"/> </br>
				 <div v-if=" aujourdhui < repannonce.dateRdv ">

		

				 <span id="lblEnviesTerminees2">
					Vous avez rendez-vous le <b><u>{{repannonce.idReponse}}{{moment(repannonce.dateRdv).format("DD/MM/YYYY hh:mm")}} avec {{repannonce.annonce.stock.utilisateur.pseudo}}</u></b> </br>
					concernant le don de <b><u>{{repannonce.annonce.stock.quantite}} {{repannonce.annonce.stock.produit.nomProduit}} !</u></b></span>

				
				</hr></br>
			</div>
			<div v-else>
				<!-- <div v-if=" aujourdhui > repannonce.dateRdv "> -->
				</br>
				<span id="lblEnviesTerminees3">
					Le <b><u>{{moment(repannonce.dateRdv).format('DD/MM/YYYY hh:mm')}}</u></b> vous avez reçu de {{repannonce.annonce.stock.utilisateur.pseudo}}, le don de :</br>  
					<b><u>{{repannonce.annonce.stock.quantite}} {{repannonce.annonce.stock.produit.nomProduit}}</u></b>
					</br>
					Merci de noter votre échange : <select id="selectNoteEvaluation" v-model="selected">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select></br>
					 Vous pouvez laissez un commentaire : <INPUT type="text"
						name="input" VALUE="" id="commentaireEval" />
					<button v-on:click="insererEvaluation(repannonce.annonce.idAnnonce,selected)"
						id="btnValiderMotifAnnulation">Valider</button></span>
			 </div>

			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modalRaisin" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modifier mon
							annonce</h5>

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Valider</button>
						<button type="button" class="btn btn-primary">Annuler</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<script src="./js/mesEnviesVueJs.js"></script>
<script src="./js/modalAnnonceJS.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
