<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Food2Eat (beta)</title>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylesFoodFriends.css" media="all" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylefoodfriend.css">
</head>
<body>


		<div class="lblTitreAnnonces">
			<b>Mes Foodfriends</b>
		</div>
		
		<div id="listeFoodfriend">
		
		<form id="searchBar">
		  <input class="inputSearchBar"type="text" name="search" placeholder="Rechercher ..." v-model="search">
		</form>
<br/><br/><br/><br/><br/><br/><br/><br/>
   			<div id="friend-element" v-for="foodfriend in filteredList">   
   				<div v-if="foodfriend.utilisateur1.idUtilisateur == iduser">  					
	   				<img v-bind:src="getSrc(foodfriend.utilisateur2.pseudo)"/><br/>	
	   				{{foodfriend.utilisateur2.pseudo}} <br/>
	   				{{foodfriend.utilisateur2.nom}} {{foodfriend.utilisateur2.prenom}} <br/><br/>
	   				{{foodfriend.utilisateur2.email}} <br/>
	   				<button v-on:click="RetirerFF(foodfriend)">RETIRER DE MES FOODFRIEND</button>
   				</div>
   				<div v-else>
					<img v-bind:src="getSrc(foodfriend.utilisateur1.pseudo)"/><br/>	
   					{{foodfriend.utilisateur1.pseudo}} <br/>
	   				{{foodfriend.utilisateur1.nom}} {{foodfriend.utilisateur1.prenom}} <br/><br/>
	   				{{foodfriend.utilisateur1.email}} <br/>
	   				<button v-on:click="RetirerFF(foodfriend)">RETIRER DE MES FOODFRIEND</button>
   				</div>
   			</div>
  		</div>

	<script src="./js/foodfriendtestJ2.js"></script>

</body>
</html>