<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Food2Eat (beta)</title>
	<script src="./resources/js/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<script src="http://momentjs.com/downloads/moment-with-locales.js" ></script>
<link rel="stylesheet" type="text/css" href="./resources/css/styleMesAnnonces.css">
</head>
<body>


	<div id="listeMesPotentiellesEnvies">
		
		<h2 id="Annonces-Titre">Mes potentielles Envies</h2>
		<br />
		<div>

			<div id="Annonces-elements" v-for="annonce in annonces">

				<!--<input type="button" value="Valider" id="btnValiderEnvie" />-->
				
				<button v-on:click="envoyerDemandes">VALIDER</button>
				  
				 </br>
				{{annonce.titre}} <br /> {{annonce.stock.utilisateur.pseudo}} vous
				propose :
				{{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}} <br/>
				<div id="DatesRdv">
					Choissisez votre date de rendez-vous : <br> 
					<input type="radio" id="dateRdv1" v-model="selected" name="plop" v-on:click="majvalueRdv(annonce.dateRdv1)"></input>
					<label id="date1" for="dateRdv1">{{moment(annonce.dateRdv1).format('L')}}</label> <br/>
					<input type="radio" id="dateRdv2" v-model="selected" name="plop" v-on:click="majvalueRdv(annonce.dateRdv2)"></input> 
					<label id="date2" for="dateRdv2">{{moment(annonce.dateRdv2).format('L')}}</label> <br/>
					<input type="radio" id="dateRdv3" v-model="selected" name="plop"  v-on:click="majvalueRdv(annonce.dateRdv3)"></input> 
					<label id="date3" for="dateRdv3">{{moment(annonce.dateRdv3).format('L')}}</label> <br/>
					<!-- IMPOSSIBLE DE RECUPERER VALEUR RADIO BUTTON 

					<div v-if =" selected === dateRdv1">
					<br/> Date de RDV selectionnée : {{selected}} <br/>-->
					
Votre lieu de rendez-vous :<span>{{annonce.adresse.numeroVoie}} {{annonce.adresse.typeVoie}} {{annonce.adresse.nomVoie}} {{annonce.adresse.ville.ville}} {{annonce.adresse.ville.codePostal}}</span><br/>


				</div>
			</div>
		</div>
	</div>
	<script src="./js/AnnonceVueJs.js"></script>

</body>
</html>