<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Food2Eat (beta)</title>
	<script src="./resources/js/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<script src="http://momentjs.com/downloads/moment-with-locales.js" ></script>
</head>
<body>
	<div id="gestionStock">
	<h1>Stock de l'utilisateur n°<input id="idUtilisateur" type="text" v-model="idUser" /></h1>
		<button @click="chargerStock()" >Charger</button>
		<select id="selectModeConservation" v-model="modeConservation">
			<option value="">Tous</option> 
			<option value="Frigo">Frigo</option> 
			<option value="Congelateur">Congelateur</option>
			<option value="Placard">Placard</option>
		</select>
	
	<br/>	
	
	<table id="idTable" border="1">
   		<thead>
   			<tr><th>Quantite</th><th>Produit</th><th>DLC</th><th>Etat</th></tr>
   		</thead>
   		<tbody id="app">
   			<tr v-for="stock in stocks">
   				<td >{{stock.quantite}}</td><td>{{stock.produit.nomProduit}}</td><td>{{moment(stock.DLC).format('L')}}</td>
   				<td v-if="stock.produit.mesure.idMesure == 1"><progress id="file" name="file" max="100" value="stock.fractionRestante"></progress></td>
   				<td v-else>{{stock.fractionRestante}}<strong>/{{stock.produit.nombreUnite}} {{stock.produit.mesure.nomMesure}}</strong></td>
   			</tr>
   		</tbody>
   		
   </table>
	</div>
	<script src="./js/StockJS.js"></script>
</body>
</html>