<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Food2Eat (beta)</title>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylesFoodFriends.css" media="all" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" ></script>
	<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
	<link rel="stylesheet" type="text/css" href="./resources/css/stylefoodfriend.css">
	<link rel="stylesheet" href="./resources/leaflet/leaflet.css" />
	<script src="./resources/leaflet/leaflet.js"></script>
	
</head>
<body>
<!--  <input type="hidden" id="iduser" type="text" value="1"  />-->
			
		
		<div id="app2" class="container">
		

		
			<div id="mapContainer">
				<div v-if="seen" id="map" class="map" style="height: 400px;"></div>
			</div>
			
		

   			<div id="" v-for="annonce in annonce">     					
			
					<img v-bind:src="getSrc(annonce.stock.produit.idProduit)"/><br/>						
	   				{{annonce.titre}} <br/>
	   				{{annonce.stock.produit.nomProduit}} proposé par {{annonce.stock.utilisateur.pseudo}}<br/>
	   				{{annonce.adresse.ville.ville}}, le {{moment(annonce.datePublication).format('L')}} 				
	   				<button>Plus de detail</button>   				

   			</div>
  		</div>

	<script src="./app2.js"></script>
	
</body>
</html>