<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Food2Eat (beta)</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<link rel="stylesheet" type="text/css"
	href="./resources/css/styleMesAnnonces.css">
</head>
</head>
<body>

	<div id="listeAnnonceReponseSansValidation">
		
		<h2 id="Annonces-Titre">Mes annonces en attente de validation</h2>
		<br />
		<h1>Annonce de l'utilisateur n°<input id="idUtilisateur" type="text" v-model="idUser" /></h1>
		<button @click="chargerAnnonce()" >Charger</button>
		<div>

			<div id="Annonces-elements" v-for="annonce in annonces">

				{{annonce.titre}} <br/> 
				{{annonce.stock.utilisateur.pseudo}} vous propose :
				Pour {{annonce.stock.quantite}} {{annonce.stock.produit.nomProduit}}, {{annonce.repannonces.pseudo}} a accepté la date du : </br>
				<div id='DatesRdv'>
					
					<!-- IMPOSSIBLE DE RECUPERER VALEUR RADIO BUTTON -->
					<div v-if =" selected === dateRdv1">
					<span> {{selected}}</span></div>
					<br/> Date de rendez-vous selectionnée : {{selected}} <br/>
					
				Lieu du rendez-vous :<span>{{annonce.adresse.numeroVoie}} {{annonce.adresse.typeVoie}} {{annonce.adresse.nomVoie}} {{annonce.adresse.ville.ville}} {{annonce.adresse.ville.codePostal}}</span><br/>
						<!-- {{moment(annonce.repannonces.dateRDV).format('L')}}  -->
				</div>
			</div>
		</div>
		
	</div>
		<script src="./js/AnnonceReponseSansValidation.js"></script>
</body>
</html>